.project-details-card {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
}

.heading-text{
    font-size: 30px;
    color:rgb(166, 20, 20);
}

.text{
    font-size: 20px;
    color:skyblue;
}

.text-color{
    color: black;
}
.pro-details-back-container{
    display: flex;
    align-items: center;
}
.pro-details-container {
    padding: 0px;
    margin: 20px;
    box-shadow: 0px 2px 3px 2px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pro-heading-container{
   width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emp-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
   
    
}
.emp-card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(199, 191, 191);
    margin: 10px;
    padding: 0px;
    list-style-type: none;
    max-height:90%;
    height:160px;
    width:330px;
    border-radius: 8px;
    border-top: 5px solid #44c4a1;
    box-shadow: 0px 3px 2px 0px;
   
}

.emp-image{
    width:80px;
    border-radius: 120px;
    margin:5px;
}
.emp-card-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.emp-name-card{
    display: flex;
  
}
.emp-name{
    font-size: 20px;
    color:green;
}
.emp-role-card{
    display: flex;
    
}
.emp-role{
    font-size: 16px;
    color:brown;
}