.card-link {
    font-family: 'Roboto';
    text-decoration: none;
    margin: 10px;
    font-weight: 400;
    font-size: 18px;
    font-weight: 500;
    color: black;
  }

  .project-card {
    text-align: center;
    height: 90px;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    color: black;
    background-color: rgb(228, 219, 219);
    opacity: 1;
    box-shadow: 0px 2px 3px 0px;
    width: 250px;
    border-top: 5px solid;
  }
