
.details_container {
    background-color: transparent;
    margin: 20px;
    padding: 30px;
    box-shadow: 0px 2px 4px 0px;
    border-radius: 10px;
}

.top_details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
.cards {
    margin-top: 20px;
}
.images {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid black; 
}

.project_container {
    margin-top: 60px;
    justify-content: flex-start;
    background-color: transparent;
    padding: 10px;
    
}



.headings {
    font-size: 16px;
    font-weight: bold;
}
.spans{
    color:#fff;
    font-weight: 500;
}


/* <div className="project_container">

<div className="project1_container">
<h1 className="heading">PROJECT-1 :- {data.Projects_Name}</h1>  
<h1 className="heading">PROJECT-ROLE :- {data.Projects_Role}</h1> 
<h1 className="heading">TECH-STACK :- {data.Projects_Tech_Stack}</h1> 
<h1 className="heading">PROJECT-ALLOCATION :- {data.Projects_Allocation}</h1>
</div>

<div classNAme="project2_container" >
<h1 className="heading">PROJECT-2 :- {data.Projects2_Name}</h1>
<h1 className="heading">ROLE :- {data.Projects2_Role}</h1>
<h1 className="heading">TECH-STACK :- {data.Projects2_Tech_Stack}</h1> 
<h1 className="heading">PROJECT-ALLOCATION :- {data.Projects2_Allocation}</h1>
</div> */