.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .back_button {
    margin-left: 80%;
    background-color: blue;
    border-radius: 5px;
    border: 1px solid blue;
    height: 30px;
    width: 80px;
    color: aliceblue;
    padding: 4px;
  }

  .nav-link {
    font-family: 'Roboto';
    text-decoration: none;
    margin: 10px;
    font-weight: 400;
    font-size: 18px;
    font-weight: 500;
    color: black;
  }
  .dev-details-heading {
    font-size: 35px;
    text-align: center;
    color: #fff;
  }
  .back-container{
    display: inline;
    align-items: center;
    
  }
  .back-option{
    display: inline;
    margin-left:50px;
    color:#fff;
    border: 2px solid;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
  }
 